

body {
    margin: 10px 0;
    padding: 0;
    background: #cf9;
    text-align: center;

    font-family: 'PT Sans', sans-serif
}

main#container {
    margin: 0 auto;
    width: 770px;
    background: #fff;
    border: 2px solid #cf9;
    text-align: left;
}

h1#header {
    height: 250px;
    margin: 0;
    background: url(../img/apple.jpg) no-repeat left top;
}

/* la propriété display et la valeur block transforment le lien a inline en élément de type block on peut donc 
lui attribuer des propriétés de taille ; on positionne l'image de 
fond qui a les mêmes dimensions que le cadre ainsi créé */
#header a {
    display: block;
    position: relative;

    top: 15px;
    left: 350px;
    
    width: 400px;
    height: 70px;
    text-indent: -5000px;

    background: url(../img/title.gif) no-repeat left top;

    /* le text-indent négatif est fait pour cacher le texte au visiteur (il est hors de la page) 
    mais il est lu par les moteurs de recherche, il est décalé vers la gauche */
    
}

nav {
    background-color: #8ed234;
    color: white;
    height: 40px;
    padding: 10px;
}

footer {
    height: 60px;
    line-height: 60px;
}