
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap');

body {
    margin: 10px 0;
    padding: 0;
    background: #cf9;
    text-align: center;

    font-family: 'PT Sans', sans-serif
}

main#container {
    margin: 0 auto;
    width: 770px;
    background: #fff;
    border: 2px solid #cf9;
    text-align: left;
}

h1#header {
    height: 250px;
    margin: 0;
    background: url(../img/apple.jpg) no-repeat left top;
}

/* la propriété display et la valeur block transforment le lien a inline en élément de type block on peut donc 
lui attribuer des propriétés de taille ; on positionne l'image de 
fond qui a les mêmes dimensions que le cadre ainsi créé */
#header a {
    display: block;
    position: relative;

    top: 15px;
    left: 350px;
    
    width: 400px;
    height: 70px;

    background: url(../img/title.gif) no-repeat;
}

nav {
    background-color: #8ed234;
    color: white;
    
}

footer {
    height: 60px;
    line-height: 60px;
}