
body{
    margin: 10px 0;
    padding: 0;
    font:0.8em montserrat;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ccff99;
}

main#container{
    margin: 0 auto;
    width: 770px;
    text-align: left;
    background-color: #fff;
    border: 2px solid #b5d652;
}

h1#header{
    height: 258px;
    background: url(../img/apple.jpg) no-repeat left top;
    margin: 0 auto;
}

/* la propriété display et la valeur block transforment le lien a inline en élément de type block on peut donc lui attribuer des propriétés de taille ; on positionne l'image de fond qui a les mêmes dimensions que le cadre ainsi créé */

#header a{
    display: block;

    position: relative;

    width: 400px;
    height: 70px;
    top: 15px;
    left: 350px;
    background: url(../img/title.gif) no-repeat left top;
    text-indent: -5000px;
} 

/* la navigation : la ul */

nav ul{
    height: 35px;
    margin: 0;
    padding: 0;
    /* repeat x : répétition horizontale sur l'axe de abscisses  */
    background: url("../img/bg_menu.gif") repeat-x 0 -25px;
    list-style: none;
}

nav ul li{
    float: left;
    text-align: center;
}

nav ul li a{
    display: block;
    width: 130px;
    line-height: 20px;
    border-right: 2px solid #ccff99;

    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: bold;
}

nav ul li a:hover{
    background: url("../img/bg_menu.gif") repeat-x 0 0;
}

#principal {
    padding: 0 30px 0 100px;

    background-image: url("../img/bg_page.gif");
    background-repeat: no-repeat;
    background-position: 15px 15px;
}

#principal h2 {
    padding-left: 25px;
    background: url("../img/little_apple.gif") no-repeat left center;

    color: #9b2;
    font-size: 1.4em;
    line-height: 25px;
}

#principal h3 {
    margin-left: 15px;
    padding-left: 5px;
    border-bottom: 1px solid #9b2;
    border-left: 1px solid #9b2;
}

blockquote {
    padding-left: 10px;
    border-left: 5px solid #9b2;
}

#principal p {
    line-height: 1.7em;
    text-align: justify;
    text-indent: 2em;

}

footer{
    height: 60px;
    line-height: 60px;
    background-color: #aabb44;
}

